body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(./img/bg1.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  font-size: 1.5rem;
}

h1 {
  color: #dcc6e0;
}

.blockquote-footer {
  font-size: 1.25rem;
}

.find-out-more {
  padding: 1rem;
  border-radius: 50px;
  text-transform: uppercase;
}

.btn-info:hover {
  background-color: #b3e5fc;
  border-color: #b3e5fc;
}

hr {
  border: 3px solid #C402BB;
  margin: 20px auto;
  color: #F05F44;
  max-width: 65px;
  opacity: 1;  
}

.blockquote-footer {
  color: #0dcaf0;
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
  animation-delay: var(--animate-delay, 1s); ;
}
